@using Umbraco.Cms.Web.Common.PublishedModels;
@using DataModels;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Location>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
	LocationPartialModel locationPartialModel = new LocationPartialModel();
	locationPartialModel.ApiKey = Configuration.GetValue<string>("ApiKey");
	locationPartialModel.LocationQuery = Context.Request.Query["location"];
}

<div class="container p-5">
	<h1 class="mb-3 text-center">Weather Search by Location</h1>
<form class="row mb-4">
	<div class="col-12 mb-2">
		<label class="visually-hidden" for="city">Search for the weather in a location of your choice</label>
		<input type="text" class="form-control" name="location" value="@locationPartialModel.LocationQuery" required id="city" placeholder="Search...">
	</div>
	<div class="col-auto mx-auto">
		<button type="submit" class="btn btn-secondary">Submit</button>
	</div>
</form>

@if (string.IsNullOrEmpty(locationPartialModel.LocationQuery))
{	
	@await Html.GetBlockGridHtmlAsync(Model.PageGrid)

}
else
{
	@Html.Partial("locationPartial", locationPartialModel)
}