<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b4bf07c-f6db-4ff2-bb33-76b19603457d" Alias="location" Level="2">
  <Info>
    <Name>Location Page</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b3d0b008-fe63-4a20-a128-63360aff6783">pageContent</Composition>
      <Composition Key="c3cbb78b-dbb5-4e0b-b63a-0379c240fa73">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>LocationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="578d71c5-f9b3-40d9-8c7d-27f311f7db73">LocationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>