<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e72a1bd-520d-4925-8e8b-3f370494db27" Alias="locationElement" Level="2">
  <Info>
    <Name>Location Element</Name>
    <Icon>icon-globe-inverted-america color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>65139ad5-fd76-4e9c-af82-92245c5703f0</Key>
      <Name>Days to show</Name>
      <Alias>daysToShow</Alias>
      <Definition>538fc53e-13a2-4e81-87e1-39cdc3f4f91c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of days to show]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="locationElementProperties">Location Element Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96fc2055-5668-4a76-a0ae-b6b8b1a8318e</Key>
      <Name>Location Name</Name>
      <Alias>locationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locationElementProperties">Location Element Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f87c8bdc-7cb7-46a1-8e78-8183b9743620</Key>
      <Caption>Location Element Properties</Caption>
      <Alias>locationElementProperties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>