<?xml version="1.0" encoding="utf-8"?>
<Content Key="995bb8ab-db28-4883-92d6-d64350e6fde5" Alias="Location" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Location</Path>
    <Trashed>false</Trashed>
    <ContentType>location</ContentType>
    <CreateDate>2023-01-17T18:34:57</CreateDate>
    <NodeName Default="Location" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="578d71c5-f9b3-40d9-8c7d-27f311f7db73">LocationPage</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Location]]></Value>
    </header>
    <pageGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c8f875cbf7e94a98bf6041386baae7ac",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8e72a1bd-520d-4925-8e8b-3f370494db27",
      "udi": "umb://element/c8f875cbf7e94a98bf6041386baae7ac",
      "locationName": "indonesia",
      "daysToShow": "[\"3\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageGrid>
  </Properties>
</Content>