<?xml version="1.0" encoding="utf-8"?>
<Macro Key="d42368ea-78d3-47f7-aac3-20a590b48d6e" Alias="LocationMacro" Level="0">
  <Name>Location Macro</Name>
  <MacroSource>~/Views/MacroPartials/locationMacro.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>