<?xml version="1.0" encoding="utf-8"?>
<DataType Key="538fc53e-13a2-4e81-87e1-39cdc3f4f91c" Alias="Day Picker" Level="1">
  <Info>
    <Name>Day Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "2"
    },
    {
      "id": 2,
      "value": "3"
    },
    {
      "id": 3,
      "value": "4"
    },
    {
      "id": 4,
      "value": "5"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>