<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b418a4d7-a10e-4cef-94aa-8e6b31fe53dd" Alias="Location Numeric" Level="1">
  <Info>
    <Name>Location Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 2,
  "max": 5
}]]></Config>
</DataType>